@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    max-width: 100%;
}

/* .app-container {
    scroll-behavior: smooth;
}

.section-link {
    transition: all 0.15s ease-in-out;
} */

.color {
    color: #d3d3f8
}

.skills {
    display: flex;
    flex-wrap: wrap;
    column-gap: .6rem;
    row-gap: .6rem;
}

.sidebar-link {
    @apply text-[.7rem] text-primary-900 hover:border-r-[1.5px] md:text-[.9rem] hover:border-r-secondary-400 hover:bg-[#d3d3f8] py-[1.4rem] flex justify-center font-semibold flex-col gap-[.1rem] items-center cursor-pointer
}

.active {
    @apply border-r-[1.5px] border-r-secondary-400 bg-[#d3d3f8]
}

/* .nav-upward {
    transform: rotate(90deg);
} */
