@tailwind base;
@tailwind components;
@tailwind utilities;


.color {
    color: #dfdffd
}

.right-line::after {
    content: "";
    position: absolute;
    right: -40px;
    width: 80%;
    height: .1rem;
    top: 48px;
    display: block;
    background: #d0d0f3;
}

.left-line::before {
    content: "";
    position: absolute;
    left: -5px;
    width: 70%;
    height: .12rem;
    top: 48px;
    display: block;
    background: #d0d0f3;
}